@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  /* Backgrounds */
  --bg-main: #0f111a; /* Deep navy-black */
  --bg-surface: #1a1d29; /* Card/Item background */

  /* Text */
  --text-main: #e6e6e6; /* High readability white */
  --text-dim: #94a3b8; /* Muted secondary text */

  /* Accents */
  --accent-primary: #10b981; /* Mint (Add buttons/Prices) */
  --accent-secondary: #f43f5e; /* Rose (Remove buttons) */

  /* Borders */
  --border-light: #2d3142;

  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 1.5rem;

  --radius-sm: 5px;
  --radius-md: 10px;

  --transition-fs: 100ms;
  --transition-md: 300ms;

  --card-size: 215px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-main);
  color: var(--text-main);
  font-family: "Inter", sans-serif;
}

input,
button {
  font-family: inherit;
  border: none;
  font-size: inherit;
  background-color: transparent;
}

button {
  font-weight: 800;
  color: var(--text-main);
  cursor: pointer;
  padding: var(--space-sm) var(--space-md);
  border-radius: var(--radius-md);
}

section,
aside {
  padding: min(2em, 7%);
}

h1 {
  font-weight: 800;
  text-align: center;
  margin-bottom: var(--space-md);
}

img {
  width: 100%;
  height: 100%;
  display: flex;
  object-fit: cover;
}
